[2019-09-05 09:11] yangwao opened #1 "accounts"

[2019-09-05 09:11] yangwao opened #2 "address-book"

[2019-09-05 09:15] yangwao opened #3 "democracy"

[2019-09-05 09:15] yangwao opened #4 "extrinsics"

[2019-09-05 09:15] yangwao opened #5 "transfer"

[2019-09-05 09:15] yangwao opened #6 "settings"

[2019-09-05 09:15] yangwao opened #7 "staking"
- [x] Staking overview
- [ ] Account actions
- [ ] Payouts
- [x] Targets
- [x] Waiting
- [ ] Validator stats - not sure in scope

[2019-09-05 09:15] yangwao opened #8 "storage - chainstate"
- [x] storage
- [x] constants
- [x] raw storage

[2019-09-05 09:16] yangwao opened #9 "toolbox"
- [x] rpc calls - @vikiival
- [x] hash data
- [x] sign message
- [x] verify signature

[2019-09-05 09:16] yangwao opened #10 "explorer"
- chain info
	- [x] summary
	- [x] recent blocks
	- [x] recent events
- block details
	- [x] single block detail
	- [x] extrinsics details
	- [x] events details
	- [x] system events
	- [ ] logs
- node info
	- [x] node info summary
	- [x] connected peers

[2019-09-05 09:16] yangwao opened #11 "treasury"

[2019-09-18 16:08] yangwao opened #12 "Dashboard layout with sidebar"
- We are thinking to use https://buefy.org/#/ for UI components

[2019-09-20 07:56] yangwao commented on #12
Just added Buefy & https://www.npmjs.com/package/@fortawesome/vue-fontawesome

[2019-09-22 13:09] yangwao opened #13 "Temporary workaround for invalid prop size icons"
![image](https://user-images.githubusercontent.com/5887929/65387774-df965300-dd4a-11e9-9a59-5e9f58129600.png)

Used this for https://github.com/buefy/buefy/issues/1768#issuecomment-533708373

[2019-09-22 13:11] yangwao commented on #12
![image](https://user-images.githubusercontent.com/5887929/65387800-2c7a2980-dd4b-11e9-90fe-ada39641edca.png)
looks like works for now

[2019-09-24 08:57] yangwao opened #14 "Show versioning stamp on sidebar"
We would like to exactly know which version you are running, so that's why we are looking to have version stamps *somewhere*.
Inspiration from polkadot.js.org/apps
![image](https://user-images.githubusercontent.com/5887929/65497132-f9a27380-deb9-11e9-9c0d-da58c9737055.png)

[2019-09-28 15:50] #12 closed

[2019-10-07 20:25] vikiival opened #16 "Fix Travis deployment"
For now travis CI is looking for package json in root of the repository
It should have change directory to dashboard and then run yarn (see #15 )

[2019-10-08 08:59] yangwao commented on #16
fixed

[2019-10-08 08:59] #16 closed

[2019-10-13 16:27] vikiival commented on #6
Already merged in #15

[2019-10-13 16:27] #6 closed

[2019-10-28 10:25] yangwao commented on #1
- [ ] modals / dialogs
- [x] keypairs
- [x] create
- [x] backup
- [x] restore
- [x] change password

[2019-10-28 10:28] yangwao commented on #2
- [ ] modals / dialogs
- [x] keypairs
- [x] create

[2019-10-28 10:30] yangwao commented on #5
- [x] sign&send
- [x] account pick & destination
- [x] amount
- [x] link on polkascan
- [ ] dialog for password?

[2019-10-31 13:46] yangwao opened #23 "Handle error operations and let user know actions were not successful"
We are missing this at actions

change pass - wrong password
backup - wrong password
transfer - wrong password/insufficient funds

[2019-10-31 14:23] yangwao opened #24 "Can't add more than two nodes, in incognito can't add any"
After adding through add node URL, it won't show in list

[2019-11-02 23:27] vikiival commented on #24
Fixed

[2019-11-02 23:27] #24 closed

[2019-11-04 11:36] yangwao opened #27 "When connecting to Kusama CC2 hosted by Parity in settings"
![image](https://user-images.githubusercontent.com/5887929/68118136-7b48e080-feff-11e9-96a1-3ae24d0ea503.png)

[2019-11-04 11:40] yangwao commented on #27
Edgeware Testnet has similar error
![image](https://user-images.githubusercontent.com/5887929/68118395-396c6a00-ff00-11e9-9e6a-761176c3cbcd.png)

[2020-01-02 17:40] vikiival commented on #27
Updated to vue-settings 0.0.9 which replaced CC2 with CC3

[2020-01-02 17:40] #27 closed

[2020-02-05 13:18] yangwao opened #29 "When add address to address book which is already in accounts, it will disappear"
![image](https://user-images.githubusercontent.com/5887929/73845083-24b2b180-4822-11ea-8160-e67e756f311b.png)
reported by @vikiival

[2020-02-05 13:36] yangwao opened #30 "Update Keyring to 2.0.1^ for substrate 2.x support"
Hence we want to keep up, it would be great to have support for Substrate 2.x
Check release log https://github.com/polkadot-js/common/releases

[2020-02-06 10:08] yangwao commented on #29
Closed

[2020-02-06 10:08] #29 closed

[2020-02-06 11:28] yangwao commented on #1
- [x] Require a password when creating an account
- [x] Require name OR pre-generate one

[2020-02-06 12:15] yangwao commented on #1
- [x] ability to add through raw seed

[2020-02-06 12:16] yangwao commented on #1
- [x] placeholder for secret derivation path input

[2020-02-06 12:20] yangwao commented on #5
- [x] select box for destination
- [x] action buton rename to "Make Transfer"

[2020-02-06 12:23] yangwao opened #31 "Transfer update - Jan 2020"
Transfer module was updated recently so we should mirror new functionalities
- [ ] tip for block author
- [ ] Sign transaction without submission
![image](https://user-images.githubusercontent.com/5887929/73936639-8e46c480-48e3-11ea-8d1e-89b17dafb0c0.png)

![image](https://user-images.githubusercontent.com/5887929/73936718-ba624580-48e3-11ea-85c0-78bb792361df.png)

[2020-02-06 12:30] yangwao commented on #1
- [x] add search by name or tags

[2020-02-06 13:10] yangwao commented on #2
- [x] validate address

[2020-02-06 16:07] #2 closed

[2020-02-10 13:57] yangwao commented on #1
- [x] able to edit name
- [x] able to edit/add tags

[2020-02-17 13:26] yangwao opened #33 "Disabled identicon temporary"
Commented Identicon in
[code]

Verbose problem https://stackoverflow.com/a/50932919
![image](https://user-images.githubusercontent.com/5887929/74657819-4d776700-5191-11ea-8341-e38244241838.png)

[2020-03-02 14:30] yangwao opened #35 "Democracy Proposal ux bug at dropdown"
After click on Seconds it appears slide down
![image](https://user-images.githubusercontent.com/5887929/75685323-b1725300-5c9a-11ea-9f0e-0f632b47ffbb.png)

[2020-03-02 14:51] yangwao opened #36 "Update to recent Chain names"
![image](https://user-images.githubusercontent.com/5887929/75687114-9b19c680-5c9d-11ea-8811-7e21eb5d1f57.png)

[2020-03-02 18:07] vikiival commented on #36
`Did you publish correct branch ? `

<img width="1504" alt="Screen Shot 2020-03-02 at 19 06 39" src="https://user-images.githubusercontent.com/22471030/75704101-002ee580-5cb9-11ea-85ce-6cb3c4767a28.png">

[2020-03-02 18:10] vikiival commented on #35
The `Seconds` dropdown is wrapped inside flexbox with predefined height that means `options` are rendered below flexbox-child

[2020-03-03 14:28] yangwao opened #39 "Create desktop vue-polkadot version"
We are thinking that having a desktop app could be a cool thing.

Anyone want to jump in?

[2020-03-04 14:39] yangwao opened #40 "Missing deliverables to finalise Milestone 2"
- [ ] transfer could have SignAndSubmit
- [x] review transfer is not working
- [x] tags on create account doesn't work
- [x] filter is broke on accounts

[2020-03-05 18:34] vikiival commented on #40
- [x] Submit Preimage
- [x] Hack around data reactivity
- [x] Make sure it's responsive

[2020-03-11 13:11] yangwao opened #41 "Move vue-polkadot.jsorg to kodadot.js.org"
Hit our favourite friends https://github.com/js-org/js.org

[2020-03-13 13:08] yangwao opened #42 "Integrate nodes from https://polkahub.org/projects"
Just had idea after Substrate Seminar that we could integrate into settings API nodes from Polkahub 🤔

[2020-03-13 13:15] yangwao opened #43 "Branding issues"
KodaDot or DotKoda 🤔

![image](https://user-images.githubusercontent.com/5887929/76624076-e9985200-6534-11ea-92f4-1282abc90f50.png)
![image](https://user-images.githubusercontent.com/5887929/76624104-f321ba00-6534-11ea-81dd-30b6e8ace081.png)
![image](https://user-images.githubusercontent.com/5887929/76624130-03399980-6535-11ea-90c9-d8a1767e694f.png)

[2020-03-16 12:38] yangwao opened #45 "Mass backup (restore)"
Just had idea to have a mass backup in some case of danger :)

[2020-03-16 12:49] yangwao opened #46 "Progressive Web App friendly KodaDot"
Definition of Progressive Web App https://web.dev/progressive-web-apps/

The goal is to have application installable on Android phones.
Working offline on account and address book would be optional.

**Create PR to the develop branch.**

- [ ] service worker for offline.
- [x] manifest.json - [changed to site.webmanifest](https://developer.mozilla.org/en-US/docs/Web/Manifest)
- [x] custom offline

[2020-03-16 12:56] yangwao opened #47 "Add Account via Qr"
Nowadays to implement Parity Signer, we require [add via qr] https://polkadot.js.org/apps/#/accounts

[2020-03-17 09:02] yangwao opened #48 "Add identicon alternative"
We found that original identicon made for Polkadot and Substrate eco is too noisy, this looks much nicer https://github.com/urbit/sigil-js
Also, we would like to keep original identicon

[2020-03-17 12:24] yangwao commented on #42
**From alekspickle**
"Actually it could be done with this lil endpoint here I am sure you can tune limit query parameter for your needs
https://api-test.polkahub.org/api/v1/extended_search?offset=0&limit=10
just grep for wss_url field there"
![image](https://user-images.githubusercontent.com/5887929/76855954-879c5d00-6852-11ea-9ff4-3a72307a88cc.png)

and I was just curious: did I do anything wrong

[2020-03-20 09:48] vikiival commented on #48
Love this ❤️

[2020-03-20 10:09] yangwao opened #49 "Make component tests"
We have lot of components since m1. At m2 we created a lot of functional components which could break anytime soon.

We should have tests.
- [ ] What doesn't require Vue -> Move to TS
- [ ] use Mocha or Chai

Unit tests for these components
- [ ]
- [ ]
- [ ]

[2020-03-20 10:45] yangwao opened #50 "Add contribution guidelines - CONTRIBUTING.md"
We are missing contribution guidelines.
Family repo got https://github.com/polkadot-js/apps#development

https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

[2020-03-20 11:51] yangwao commented on #50
Lesson learned https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-03-20 12:08] yangwao opened #51 "Create docker image"
We would like to have a **docker image with UI running, for easier infrastructure setup.**

- [ ] Send PR against develop branch, beware, it breaks often, you might keep it up to date, till we merge it
- [ ] Include working Kusama network
- [ ] Working up-to-date image, [prefer one we are using here ](https://github.com/yangwao/kusama_playground)
- [ ] Working with local node, [inspiration](https:

[2020-03-20 12:20] yangwao commented on #50
Done in e4f4f12 !

[2020-03-20 12:20] #50 closed

[2020-03-22 19:42] yangwao opened #52 "Prefix link to Polkascan by tokenSymbol"
Match link to explorer by TokenSymbol from chainProperties

i.e. `tokenSymbol = 'KSM'` will have prefix `https://polkascan.io/pre/kusama/transaction/`

[2020-03-23 09:24] yangwao opened #53 "@vue/cli-plugin-babel@^4.2.3 breaks build"
I've been updating packages and found new cli-plugin-babel breaks builds.

New @vue/cli-plugin-babel@^4.2.3 breaks build.
Now using @vue/cli-plugin-babel@^3.12.1.

Feel free to open PR

[2020-03-23 13:33] yangwao opened #54 "Fix ss58formats from settings for live node for keyring initialize"
Right now @vue-polkadot/vue-settings@0.0.11 returns -1 on connected node

![image](https://user-images.githubusercontent.com/5887929/77321693-d9415d80-6d12-11ea-8815-d5dd5a3d2745.png)

Would be nice to fetch chain properties upon connecting and store it to Vuex.

Also, there are new types like Centrifuge.

![image](https://user-images.githubusercontent.com/5887929/77321767-f70ec280-6d12-11ea-8f74-

[2020-03-26 09:24] yangwao opened #57 "View to polkascan || subscan / outside explorer"
Would be good to have SFC component which will generate a link for the particular network where the transaction happened.

Subscan
https://kusama.subscan.io/extrinsic/0xd02e7f94448d6968b18fcc97cbdf4a2e0f2d15d92e6c10583e363f1c8d9e7128
Polkascan
https://polkascan.io/pre/kusama/extrinsic/0xd02e7f94448d6968b18fcc97cbdf4a2e0f2d15d92e6c10583e363f1c8d9e7128

Map links based on prefix of network?

[2020-03-27 10:54] yangwao opened #58 "Mobile version seems broken"
Looks like container is broken right now on mobile.
Best fix would to have fixed sidebar and scrolling content on the right.

![ezgif-6-30fc280138ec](https://user-images.githubusercontent.com/5887929/77749024-9b4d7d80-7021-11ea-87b5-39cb69de0c60.gif)

[2020-03-30 08:40] yangwao opened #59 "Make KodaDot IPFS friendly"
Looks like https://ipfs.io/ipfs/QmaK78kCLNcPg1bUSbkwvS5gd4WzM7HXxyQT6xpDkqv1UC/ is broken in every way.

Found vue+ipfs deployment, so let's inspire there and take key ideas and adapt in our project.

https://github.com/Ideea-inc/vipfs

[2020-03-30 09:28] yangwao opened #60 "Explorer finalized api is probably broken?"
Running local Kusama node.

kusama_node | 2020-03-30 09:23:21 Idle (50 peers), best: #1669886 (0x7bbe…1554), finalized #1669882 (0x0f16…f2fd), ⬇ 96.4kiB/s ⬆ 33.6kiB/s

![image](https://user-images.githubusercontent.com/5887929/77897048-6dfb0c80-7279-11ea-8d1c-84edf3b5b892.png)

You can notice from node logs best is 1669886 which is fine but finalized **should be** 1669882

[2020-04-01 08:25] yangwao commented on #60
Fixed in 71d99662f08443a8929c2863174722b035d315a4

[2020-04-01 08:25] #60 closed

[2020-04-01 08:34] yangwao opened #62 "Compatibility table"
Our state is

# Address prefix
for default connected it's `-1`, should fetch `api.registry.getChainProperties()`

Also, to have compatible chains would be nice to include at least this
from recent upstream settings
![image](https://user-images.githubusercontent.com/5887929/78115571-48017380-7403-11ea-97ea-10f6b3f85427.png)

# Remote endpoints

we cover
## Live networks
Kusama (Parity)
Kusama (Web3

[2020-04-06 15:54] yangwao commented on #59
Also worth mention https://gun.eco/docs/Introduction but not sure if it's worth effort.

[2020-04-08 10:49] yangwao commented on #59
Looks like it's working
https://twitter.com/yangWao/status/1247818645897654273

https://cli.vuejs.org/config/#publicpath set to './'

https://ipfs.io/ipfs/QmPiRdv9cXG4STpCVmAAnyqd3CTXqL1eZsBPxs6ih2AXAw/#/

[2020-04-08 11:45] yangwao commented on #59
We are running https://proud-cherry-0694.on.fleek.co/#/

Closing for now

[2020-04-08 11:45] #59 closed

[2020-04-09 06:44] yangwao opened #63 "Denomination and formatting"
We've got `formatBalance.ts` which does some small amount of magic.

Inspiration could be found here https://github.com/polkadot-js/common/blob/master/packages/util/src/format/formatBalance.ts

Right now we are struggling to allocate time on this and rather make this as bounty.

- [ ] fix all the use cases in code right now which are using the denomination
- [ ] repair components which are not usi

[2020-04-09 07:36] yangwao opened #64 "Continuous Notifications Systems"
We are often looking at various packages updates

`yarn info @polkadot/api time`

We are also happy to receive webhooks from deployments if they're successful tho, bc we are too lazy run build at local 😅

Format could be telegram bot :)

[2020-04-09 13:03] yangwao opened #65 "Formated all values for Vue components from api"
Before we pass props to components, would be good to have formatted values.

So we can avoid using .toString() or parseInt() frequently.

[2020-04-09 15:11] yangwao commented on #40
🎉 we are going for milestone 3

[2020-04-09 15:11] #40 closed

[2020-04-09 15:12] yangwao commented on #1
done m2

[2020-04-09 15:12] #1 closed

[2020-04-09 15:12] yangwao commented on #3
done in m2

[2020-04-09 15:12] #3 closed

[2020-04-11 17:32] clearloop opened #66 "Develop apps into chrome as a chrome extension"
## Spec

Using `vue-polkadot` just like `metamask`.

1. `vue-polkadot/apps`'s functions are duplicate to `polkadot/apps`, just different implementation in some way, and we can do better.
2. `apps` has wallet functions, this makes `vue-polkadot` has the potential to be a `metamask` in substrate ecologies
3. Chrome extension is better than web page...you know, I input the link to my browser every ti

[2020-04-11 22:59] illlefr4u opened #67 "The incorrect value of votes in the referendum"
During referenda, the wrong value is displayed. The current value must be multiplied by 10 ^(-12).

screen in attach. Right value there is 18215 KSM
![vue_ps1](https://user-images.githubusercontent.com/21253681/79056639-f93bb100-7c2e-11ea-84ef-7461b57e0117.png)

[2020-04-12 15:39] yangwao opened #68 "Extendable settings similar to dotfiles"
User can go to setting, upload their `yangwao-settings.json` preference file and then will have preferences set.
Take it as key/value storage, [sync-settings](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) for KodaDot.

It could be latter extended like ipfs hash, submitted on-chain as storage string, whatever fits.

[2020-04-15 09:28] yangwao commented on #66
@clearloop I clearly see nice ideas here, I'm really glad for them! 🤗

We want to be somehow performance, mobile-first and lightweight version, just focused version

in substrate ecologies

Yes, we are using keyring for accounts/addressbook and transfer, that could be potentially easy exportable part.

Yes, but it's somehow vendor-lockin right now. We played little bit with handler when you want t

[2020-04-15 09:35] vikiival commented on #67
Hello,

thanks for submitting a issue. ✨ We will try to fix it in next release.

However the formula `10^(-12)` does not work for every substrate chain.
Some chains can use e.g 15 decimals.

We need to fetch tokenDecimals from `api.registry.getChainProperties()` and then multiply the referenum value with `10^(-tokenDecimals)`

[2020-04-15 18:40] clearloop commented on #66
I love the mobile-first direction, btw, is there any telegram group or somewhere we can chat about Kota? I'd like to talk about it when I have some thoughts.

[2020-04-17 08:41] yangwao opened #69 "Add support for types.json in Settings"
As more para chains have custom types, would be perfect to support them.

[2020-04-19 13:23] yangwao opened #70 "list KodaDot in public lists"
- [x] https://github.com/w3f/General-Grants-Program/blob/master/grants/polkadot_stack.md#iphone-explorer-and-wallets - https://github.com/w3f/General-Grants-Program/pull/280

- [x] https://polkadot.js.org/api/api/#users - https://github.com/polkadot-js/api/pull/2220

- [x] Substrate.io - https://github.com/w3f/General-Grants-Program/pull/280

[2020-04-19 13:24] yangwao opened #71 "Make Electron wrapper to be as desktop app"
With PWA there is possible to use us as desktop app, may does not require to bundle with Electron.

[2020-04-22 12:39] yangwao opened #72 "Connecting through ws://"
- Go to chrome://settings/content/insecureContent?search=insecure
- add allow sites https://dev-vue-polkadot.netlify.app

[2020-04-22 13:10] yangwao commented on #69
Subsocial types https://github.com/F3Joule/subsocial-v2/blob/master/types.json
https://github.com/dappforce/dappforce-subsocial-js/tree/master/packages/types

Latest Subsocial:
http://161.35.193.43/bc
ws://161.35.193.43:9944/

Latest subsocial types https://github.com/F3Joule/subsocial-v2/blob/f3-dev-add-tests/types.json

https://github.com/dappforce/dappforce-subsocial-node/tree/develop
https://g

[2020-04-22 13:20] yangwao commented on #69
Darwinia types https://github.com/darwinia-network/darwinia/blob/master/runtime/crab/darwinia_types.json

[2020-04-24 07:50] yangwao commented on #30
already done.

[code]

[2020-04-24 07:50] #30 closed

[2020-04-24 07:52] yangwao commented on #54
Recently fixed in cd402b6b2ea3282d08477bf31b813863573823be
thanks to @vikiival making this! 🏅

[2020-04-24 07:52] #54 closed

[2020-04-24 07:54] yangwao commented on #57
Partially done, now with a manual switch in settings
![image](https://user-images.githubusercontent.com/5887929/80188490-8c062380-8611-11ea-9e32-aa046dc4f2d3.png)

[2020-04-24 07:59] #57 closed

[2020-04-24 08:02] yangwao opened #73 "Map network explorer based on network prefix"
Based on #57 issue.

While there is no standard and few networks got explorer, there is just manual switch for this.

Enhance explorerGuide.ts

[2020-04-27 12:46] yangwao commented on #52
Duplicate #73

[2020-04-27 12:46] #52 closed

[2020-04-27 12:47] vikiival commented on #65
I think nice approach would be [Vue Filters](https://vuejs.org/v2/guide/filters.html)

[2020-04-27 12:47] yangwao commented on #36
Already done in recent develop.

[2020-04-27 12:47] #36 closed

[2020-04-27 12:48] yangwao commented on #43
Thank you for following us https://twitter.com/KodaDot

[2020-04-27 12:48] #43 closed

[2020-04-29 15:20] #70 closed

[2020-04-30 08:11] yangwao commented on #41
- [ ] Travis doesn't show new organization yet. Will look on it later. Apparently is bug since 2015.
- [x] new Netlify deploys are at
https://dev-kodadot.netlify.app & https://kodadot.netlify.app & http://dev-kodadot.on.fleek.co
- [x] Made PR for new domain https://github.com/js-org/js.org/pull/3998

[2020-04-30 13:16] yangwao commented on #66
Yes, we have issues https://github.com/vue-polkadot/apps/issues/58 and https://github.com/vue-polkadot/apps/issues/46 regarding mobile app. Buefy recently released sidebar component, which probably should fix some issues, @vikiival will be working on that. We will see whenever it will be done.

Right now the best spot is to open issue.
We don't have capacity to maintain telegram channel.

[2020-04-30 13:19] yangwao commented on #39
closing in favor https://github.com/vue-polkadot/apps/issues/71

[2020-04-30 13:19] #39 closed

[2020-04-30 21:26] vikiival commented on #66
Sidebar has currently [small bug](https://github.com/buefy/buefy/issues/2466)

[2020-05-01 09:13] yangwao opened #74 "Setup Github Actions for kodadot.github.io"
We can use gh actions also for testing our apps

[2020-05-01 09:13] yangwao commented on #41
https://github.com/vue-polkadot/apps/issues/74

[2020-05-01 09:13] #41 closed

[2020-05-03 14:14] #4 closed

[2020-05-03 14:24] vikiival commented on #66
Sidebar fixed in #75

[2020-05-04 08:01] vikiival commented on #65
I started to code Vue filters and it's so easy to use check [Money component](https://github.com/vue-polkadot/apps/blob/treasury/dashboard/src/components/shared/format/Money.vue)

Only one problem is that we have small amount of formatting components.

[2020-05-04 08:01] #65 closed

[2020-05-04 13:03] vikiival commented on #58
Closed by new sidebar #75

[2020-05-04 13:03] #58 closed

[2020-05-04 13:07] vikiival commented on #62
@yangwao this should be fixed by new api ?

[2020-05-06 13:57] yangwao opened #76 "Settings/Metadata component and detect right explorer for Subscan"
- [ ] Send PR against develop branch, beware, it breaks often, you might keep it up to date, till we merge it
- [x] Add metadata tab to Settings
- [x] Show Unit, Address Prefix, Decimals, Genesis Hash
- [ ] Detect right explorer chain for Subscan, when you connect to
* - [ ] Polkadot CC1
* - [ ] Kusama
* - [ ] Edgware
* - [ ] Darwinia Crab
* - [ ] Acala Mandala
* - [ ] Plasm

# Metadata part
Now w

[2020-05-06 14:07] yangwao opened #77 "Sidebar postfixes before production release"
Adding look before replacing very own brewed sidebar with buefy sidebar.
What's needs to be fixed before another release

- [ ]  white background for logo
- [ ] dark theme with light (light-grey) icons
- [ ] unfold button should be on the bottom to avoid wonky moving till we figure wrong alignment
![image](https://user-images.githubusercontent.com/5887929/81186723-74388300-8fb3-11ea-806f-8588bd957

[2020-05-06 16:48] vikiival commented on #77
Fixed

[2020-05-06 16:48] #77 closed

[2020-05-08 13:47] yangwao commented on #62
Looks like Centrifuge is missing 😳
![image](https://user-images.githubusercontent.com/5887929/81411796-2a7ea280-9143-11ea-968a-8719ad94369d.png)

Could be extended whenever we will deliver support for custom types https://github.com/vue-polkadot/apps/issues/69
It's just placeholder issue for now

[2020-05-08 16:24] yangwao commented on #9
RPC calls in Toolbox, Extrinsics and Chainstate [storage, constants] could share the same components I think 🤔

[2020-05-09 16:16] Web3Foundation commented on #46
@yangwao any preferred worker to start this one?

[2020-05-10 15:31] varit05 commented on #51
@yangwao I am interested in the issue and can create a docker image.

Please let me know if I can start working.

[2020-05-11 14:20] yangwao commented on #51
@varit05 sure you can, but there isn't bounty placed on this issue. Are you willing to continue?

[2020-05-11 14:24] yangwao commented on #46
Hello, @Web3Foundation by gitcoin track record **iamonuwa** looks best to us.

[2020-05-11 16:39] yangwao opened #80 "Make dropdown mobile-first friendly"
when you pick an account, a dropdown will leak over the edge and break mobile experience
![image](https://user-images.githubusercontent.com/5887929/81587012-b77d6200-93b6-11ea-8cbc-d8c245c74107.png)

[2020-05-12 04:04] varit05 commented on #51
Well, Yes. I am interested so with or without bounty doesn't matter :)

[2020-05-12 08:44] yangwao opened #81 "Create meta-tabs router"
We are using https://buefy.org/documentation/tabs along through explorer, accounts, democracy, toolbox and probably through many others will use this "horizontal routing"

Would be nice to brew very custom reusable component here.

Desired feature sets
- [ ] entering link like http://localhost:8080/#/explorer/1/0xfb585497ae92327b8e1a79133fd8a8fe867b55fd311f627ca38cd116883c6f4e - will open exact bl

[2020-05-12 08:45] yangwao opened #82 "Use named routing and nested routes in accounts and addressbook"
As at the time of merging accounts and address books, routing is really flawed and hardcoded and not using named routes, which is a very bad approach, but it worked well in early phases.

Now it's time to move into something more refactor resilient.

- [x] Send PR against develop branch, beware, it breaks often, you might keep it up to date, till we merge it
- [x] Aim for reusable components
- [x]

[2020-05-12 09:09] #80 closed

[2020-05-12 09:43] yangwao opened #86 "Dropdown component should show meta.name"
Now it looks like this
![image](https://user-images.githubusercontent.com/5887929/81668979-c19a7180-9445-11ea-8ab8-020794ed8e09.png)

Apps show names as well
![image](https://user-images.githubusercontent.com/5887929/81668995-cd863380-9445-11ea-84f2-0b27950715fe.png)

[2020-05-13 09:52] #86 closed

[2020-05-15 09:58] yangwao opened #90 "Extend Toolbox for api.derive queries"
Api has consts, query, rpc, tx, but missing derive extension.
![image](https://user-images.githubusercontent.com/5887929/82038064-4504ce80-96a3-11ea-8632-8095926e92ec.png)

Would be nice to have **derive** calls in toolbox.

[2020-05-19 08:59] Web3Foundation commented on #63
@yangwao Who should we approve to work on this issue?

[2020-05-19 15:08] yangwao opened #93 "Unified experience across substrate chains"
Creating [vue storybook](https://storybook.js.org/docs/guides/guide-vue/) components for substrate chain

Inspiration from Ethereum
https://rimble.consensys.design/components

[2020-05-29 10:43] Web3Foundation commented on #46
@iamonuwa Are you still working on this issue?

[2020-05-29 10:44] Web3Foundation commented on #63
@yangwao Any preferred worker?

[2020-06-03 12:38] iamonuwa commented on #46
@here @gitcoinbot PR will be available today

[2020-06-05 13:59] yangwao commented on #63
Hello @Web3Foundation yes @ryan-gordon looks good, he even sent PR already.

[2020-06-06 12:52] iamonuwa commented on #46
Yes, I am

[2020-06-08 10:59] yangwao opened #96 "Join Github sponsorship"
![image](https://user-images.githubusercontent.com/5887929/84023117-ce987b00-a987-11ea-91ef-3210af11a3fa.png)

https://github.com/sponsors/vue-polkadot/waitlist

[2020-06-08 11:01] yangwao commented on #51
@varit05 cool, feel free to send PR! we would be glad to test it and accept it! :)

We had out of office last few weeks 😇

[2020-06-08 11:38] yangwao commented on #46
Just left comments in PR :)

[2020-06-08 11:48] yangwao commented on #67
@vikiival I think this could be fixed in recent version thanks to chain properties in vuex 🤔

[2020-06-08 13:08] yangwao commented on #63
I've reviewed @ryan-gordon fix.
It's just partial and we are looking also fix cases like
https://github.com/vue-polkadot/apps/blob/develop/dashboard/src/components/explorer/Summary.vue#L52
![image](https://user-images.githubusercontent.com/5887929/84033464-2b506180-a999-11ea-9733-22b6add82b23.png)

It should be
![image](https://user-images.githubusercontent.com/5887929/84033538-4de27a80-a999-11ea-

[2020-06-08 13:17] yangwao opened #97 "Inspect node peers doesnt work on substrate-0.8.x"
Screenshot from 0.8.3-c2b09af8-x86_64-linux-gnu

![image](https://user-images.githubusercontent.com/5887929/84034718-0230d080-a99b-11ea-9da4-ae6a460d4393.png)

On substrate 0.7.33-76d6a6aa-x86_64-linux-gnu works.

![image](https://user-images.githubusercontent.com/5887929/84034827-268cad00-a99b-11ea-8dad-8851a2229a01.png)

[2020-06-08 14:13] yangwao opened #98 "Add Skeleton to Fetching queries"
https://buefy.org/documentation/skeleton/

For example in shared/Keypair.vue, while fetching transactions count and available balance, you could use skeleton effect

![image](https://user-images.githubusercontent.com/5887929/84040407-e3ced300-a9a2-11ea-92f8-84772c7a8f40.png)

[2020-06-08 14:20] yangwao opened #99 "Show contacts and accounts label by on-chain identity"
Now we are **showing label defined by the user** 🧢 from Keyring meta, stored locally.

We would like to show **on-chain identity** as well while making the transfer (name other action)

- [ ] Send PR against develop branch, beware, it breaks often, you might keep it up to date, till we merge it
- [ ] Make a component where the user can see on-chain information of contact
- [ ] Make a component whe

[2020-06-11 13:59] Ryan-Gordon commented on #63
I have pushed another commit which I think handles these cases you list.
Going to submit this PR as work on Gitcoin.
I will have 1 question about how I am fixing the issue with the use of format balance in polkadot-utils

[2020-06-17 11:53] yangwao commented on #46
I think wcag is missing.
Accounts and address book doesn't work, but that was optional.
Otherwise, I think it seems it's working.

![image](https://user-images.githubusercontent.com/5887929/84894913-e962a200-b0a1-11ea-95c3-625ea03bc630.png)

[2020-06-17 12:27] #46 closed

[2020-06-17 16:29] iamonuwa commented on #98
Do I do fix this for all query pages or just this?

[2020-06-18 12:05] yangwao opened #100 "KodaDot Galactic Senate"
Initial idea was, to make Jedi High Council or Galactic Senate in VR.

Well, we had manage to initialize VR in our project.
![image](https://user-images.githubusercontent.com/5887929/85017981-ad484380-b16c-11ea-9555-b2705f522cbc.png)

Now there is potential to make
* [VR blockchain explorer ](https://siliconangle.com/2017/11/24/explore-bitcoin-now-virtual-reality-blockchain-3d-explorer/#:~:text=Sm

[2020-06-18 15:03] iamonuwa commented on #46
@Web3Foundation PR has been merged. Can we mark this as done?

[2020-06-19 09:40] vikiival commented on #100
Nice Idea @yangwao ! 🚀 .
Looking forward to brainstorm about this idea 🧠

[2020-06-22 08:25] asmodat commented on #100
Throw in conferencing tool into the mix and it would be a blast

[2020-06-22 17:54] iamonuwa commented on #46
@Web3Foundation ping!!!

[2020-06-22 18:47] Web3Foundation commented on #46
@iamonuwa thanks for the work. We at the Web3 Foundation are continuously trying to improve the bounty program and would like to ask you to fill out the following form. It literally takes one minute :)

https://info.polkadot.network/bounty-completion-satisfaction-survey

Your response and contribution are highly appreciated!

[2020-06-23 11:14] #63 closed

[2020-06-23 11:59] yangwao commented on #98
@iamonuwa yes that would be perfect!

[2020-06-23 12:16] Ryan-Gordon commented on #63
🚀🚀 Thank you for the opportunity to work on Polkadot Vue with this issue.
I will keep an eye out for future bounties!

[2020-06-23 12:56] yangwao commented on #33
I think it's resolved now.

[2020-06-23 12:56] #33 closed

[2020-06-23 14:43] iamonuwa commented on #82
available for this

[2020-06-23 14:44] iamonuwa commented on #97
Going to fix this

[2020-06-23 14:45] iamonuwa commented on #76
Fixing this

[2020-06-24 21:17] Ryan-Gordon commented on #51
Interested in this

[2020-06-25 09:18] yangwao commented on #73
Closing in favour https://github.com/vue-polkadot/apps/issues/76

[2020-06-25 09:18] #73 closed

[2020-06-25 09:20] yangwao opened #101 "Dialog for password"
Would be great to use component which unlocks your keyring account to
- [ ] sign
- [ ] submit

transaction.

[2020-06-25 09:21] yangwao commented on #5
Dialog for password -> https://github.com/vue-polkadot/apps/issues/101

[2020-06-25 09:21] #5 closed

[2020-06-25 09:21] yangwao commented on #13
Obsolete

[2020-06-25 09:21] #13 closed

[2020-06-25 09:30] yangwao commented on #63
Yes, there is another batch, you may notice already https://github.com/vue-polkadot/apps/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Abounty :)

[2020-06-25 13:14] yangwao opened #104 "PWA - show update toast when there is new version"
With upcoming support Progressive Web apps manifest (https://github.com/vue-polkadot/apps/issues/46), we have now problem when there is a new update
![image](https://user-images.githubusercontent.com/5887929/85726255-34119900-b6f6-11ea-9642-c20ed3d7b0ea.png)
It wants fetch chunk from previous deployment.
Working version looks like this
![image](https://user-images.githubusercontent.com/5887929/857

[2020-06-30 18:02] Ryan-Gordon commented on #63
Hi @Web3Foundation, this PR has been merged and issue closed as a result. Could we mark this as done ?

[2020-07-07 11:44] yangwao opened #105 "Mass update project"
Whenever there is upstream update, our components breaks.
We often update @vue-polkadot/vue-api, @vue-polkadot/vue-keyring

And @polkadot/util@latest @polkadot/util-crypto@latest @polkadot/types@latest

Would be nice to have JUST file to do this at once or github actions

[2020-07-08 11:24] yangwao opened #106 "Video walkthrough of KodaDot"
would be nice to make a video clip per working component.

[2020-07-13 08:40] vikiival opened #108 "JSON Component"
![Screen Shot 2020-07-13 at 10 37 46](https://user-images.githubusercontent.com/22471030/87282852-f6ce4900-c4f4-11ea-94f0-da3470cf9c31.png)

We would like to have similar component in Kodadot which is able to show value of complex types such as `Option<T>` or `Vec<T>`

[2020-07-13 11:40] vikiival opened #109 "formatBalance has incorrect formating"
formatBalance filter has incorrect formating

Expected
![Screen Shot 2020-07-13 at 13 38 23](https://user-images.githubusercontent.com/22471030/87300493-381f2280-c50e-11ea-8dd5-f720492645dc.png)

Current state
![Screen Shot 2020-07-13 at 13 38 17](https://user-images.githubusercontent.com/22471030/87300486-36555f00-c50e-11ea-8f41-50cc31ccb607.png)

value I get from api: `326666666602`

[2020-07-13 11:45] vikiival commented on #109
Similar #63

[2020-07-15 12:46] yangwao commented on #109
Looks like a case where @Ryan-Gordon fix #63 doesn't work 🤔

[2020-07-15 12:55] yangwao commented on #76
@Web3Foundation can you approve @iamonuwa on this? Thank you

[2020-07-15 12:58] yangwao commented on #99
@web3foundation I choose @mul53 for this issue

[2020-07-15 13:17] yangwao commented on #82
@yacare555 you seems that you reviewed issue well, do you want to work on that?

[2020-07-15 14:12] yacare555 commented on #82
Hi Matej, yes I can do it.

[2020-07-16 13:42] yangwao opened #113 "@vue-polkadot/vue-identicon doesn't work"
no error, just grey shade.

![image](https://user-images.githubusercontent.com/5887929/87678151-e4fdd780-c77a-11ea-9b39-68a96b801f1b.png)

[2020-07-16 14:10] yacare555 commented on #82
Hi @yangwao , yes I can do it.

[2020-07-16 21:05] Web3Foundation commented on #76
@yangwao yup done.

[2020-07-19 14:59] mul53 commented on #99
hey @yangwao thanks for the opportunity,

I have a few questions to clarify the requirements,
- What fields of on-chain data need to be shown?
- Is there a preffered look for the component?
- Where will the component be inserted?

[2020-07-20 10:25] vikiival commented on #108
![Screen Shot 2020-07-20 at 12 24 39](https://user-images.githubusercontent.com/22471030/87927767-06650900-ca84-11ea-9857-f20600117697.png)
 Implemented in #115

[2020-07-20 10:25] #108 closed

[2020-07-20 15:46] #8 closed

[2020-07-20 16:53] yangwao commented on #10
Good for now! 👯‍♀️

[2020-07-20 16:53] #10 closed

[2020-07-21 11:09] yangwao commented on #99
See attached picture and feel free to go through https://polkadot.js.org/apps/#/explorer mayor now are email, website, twitter, riot, later it would be extended for another channels

We use buefy.org by default, would be best if you pick something nice :)

Mostly *everywhere* where the address is shown.

[2020-07-21 12:52] yangwao commented on #9
- [ ] Missing include a parameter for calls

[2020-07-22 11:40] yangwao commented on #11
Looks like it's working, but it's missing something, dunno especially what 🧐 @vikiival
- [ ] Cant Submit proposal
- [ ] New Tip doesn't work

![image](https://user-images.githubusercontent.com/5887929/88172095-bcfdf080-cc20-11ea-9e1a-ec35b14efa14.png)

![image](https://user-images.githubusercontent.com/5887929/88172073-b40d1f00-cc20-11ea-920c-68ff717561d9.png)

[2020-07-22 12:03] yangwao commented on #10
Peers tab doesn't work on the original Apps either. https://github.com/polkadot-js/apps/issues/3250

[2020-07-22 12:08] yangwao commented on #97
Apparently doesn't work in original one https://github.com/polkadot-js/apps/issues/3250

[2020-07-23 09:21] #9 closed

[2020-07-24 16:52] mul53 commented on #99
Hey @gitcoinbot still working on it.

[2020-07-26 16:05] mul53 commented on #99
hey @yangwao, i tried reaching you on gitcoin chat, to ask more questions but couldn't. Is it possible for you to start the chat?

[2020-07-27 12:42] #11 closed

[2020-07-27 12:46] vikiival opened #120 "Create reusable password component"
Now we are copy-paste 3 rows of code for field and password

We would like to have Password component like
[code]

[2020-07-27 12:50] vikiival commented on #101
looks like extension of #120 ?

[2020-07-28 13:07] yangwao commented on #82
It's done! https://github.com/vue-polkadot/apps/pull/117
💯

[2020-07-28 13:07] yangwao commented on #82
@web3foundation you can approve bounty.

[2020-07-28 13:07] #82 closed

[2020-07-28 13:10] yangwao opened #121 "Show toast about wrong password"
It happens when the user enters the wrong password
Dialogue where it should be fixed
- [ ] restore account
- [ ] backup account
- [ ] change password
- [ ] send transaction

[2020-07-28 13:11] yangwao commented on #101
Closing in favour #120

[2020-07-28 13:11] #101 closed

[2020-07-28 13:12] yangwao commented on #121
Closing in favour #120

[2020-07-28 13:12] #121 closed

[2020-07-28 13:12] yangwao commented on #120
Would be great to use component which unlocks your keyring account to

- [ ] sign
- [ ] submit
transaction.

### Show toast about the wrong password

It happens when the user enters the wrong password
Dialogue where it should be fixed
- [ ] restore account
- [ ] backup account
- [ ] change password
- [ ] send transaction

[2020-07-28 13:14] yangwao commented on #99
@mul53 hit me on telegram, https://t.me/yangwao but best way is to keep up this async.
Best is to ask questions here :)

[2020-07-28 13:15] yangwao commented on #76
👀

[2020-07-30 15:27] yangwao commented on #74
It's working!
Just commit to docs-master and the new version will apear https://kodadot.js.org

[2020-07-30 15:27] #74 closed

[2020-07-30 15:36] yangwao commented on #53
Closing now as our builds work perfectly fine!

[2020-07-30 15:36] #53 closed

[2020-07-31 08:25] Web3Foundation commented on #63
Hey @Ryan-Gordon Thanks for working on this issue. Please help us improve the W3F bounties by filling out this very short survey: https://info.polkadot.network/bounty-completion-satisfaction-survey

It'll take you a minute but can help greatly improve the program.

Thanks,
W3F

[2020-07-31 08:45] Web3Foundation commented on #76
@iamonuwa Do you still intend to work on this issue?

[2020-07-31 08:54] Web3Foundation commented on #82
Hey @yacare555  Thanks for working on this issue. Please help us improve the W3F bounties by filling out this very short survey: https://info.polkadot.network/bounty-completion-satisfaction-survey

It'll take you a minute but can help greatly improve the program.

Thanks,
W3F

[2020-07-31 09:15] yangwao commented on #76
@Web3Foundation change it please to @yacare555
Thank you 👍

![IMG_20200731_111324](https://user-images.githubusercontent.com/5887929/89020338-0506cc80-d31f-11ea-9a09-d80e33d88f96.jpg)

[2020-08-02 16:30] mul53 commented on #99
@gitcoinbot 5 days

[2020-08-06 14:57] yangwao commented on #99
@web3foundation can you please change to @developerfred .
Thanks.
@mul53 dropped task.

[2020-08-10 05:02] yacare555 commented on #76
Yes, I'm working on this PR #122  #123

[2020-08-10 19:35] Web3Foundation commented on #99
@yangwao Approved @developerfred

[2020-08-13 16:46] yacare555 commented on #76
#122 #123

[2020-08-14 01:15] developerfred commented on #99
Thanks @yangwao!

[2020-08-16 13:29] vikiival opened #125 "Balance has sends incorrect value"
[code]

All values should be divided by `chainDecimals`

[2020-08-17 15:40] yangwao commented on #76
Merged! Thanks

[2020-08-17 15:40] #76 closed

[2020-08-17 15:41] yangwao commented on #99
@developerfred any updates on this?

[2020-08-18 11:07] yangwao opened #126 "Add show development accounts to Settings"
App.vue set to true and in Accounts hideTestingAccounts to false

dropdown as well

[2020-08-18 17:02] developerfred commented on #99
Hi @yangwao is in my scope send the pull request today

[2020-08-19 13:43] yangwao commented on #125
fixed in https://github.com/vue-polkadot/apps/commit/0b83093884e9400420c08bc0b5823ebe37f01d27

[2020-08-19 13:43] #125 closed

[2020-08-19 13:46] vikiival commented on #125
Cool thanks 🚀

[2020-08-19 19:06] developerfred commented on #99
@yangwao
In a development environment I am not able to access the kusama node information, do I need to do any additional configuration?

[2020-08-20 10:04] yangwao commented on #126
![image](https://user-images.githubusercontent.com/5887929/90752839-2af90e80-e2d8-11ea-92b9-8c2516adbfaf.png)
![image](https://user-images.githubusercontent.com/5887929/90752862-33514980-e2d8-11ea-9098-927171953416.png)
![image](https://user-images.githubusercontent.com/5887929/90756938-40246c00-e2dd-11ea-8ce3-f93410789398.png)
fixed in 0d834b3

[2020-08-20 10:04] #126 closed

[2020-08-20 10:07] yangwao commented on #99
Everything works here. Are you on latest development with the latest vue-api?
Don't forget to yarn latest packages.
![image](https://user-images.githubusercontent.com/5887929/90757267-b88b2d00-e2dd-11ea-80ce-8f802afc45b0.png)

Develop branch works w Kusama :)

[2020-08-24 08:45] vikiival commented on #7
**Account Actions** :

- [ ] New Nominator
- [ ] New Validator
- [ ] New Stash

[2020-08-24 08:47] vikiival commented on #7
@yangwao Can you please check if Validator Stats are in scope ?

[2020-08-24 16:23] yangwao commented on #51
done

![image](https://user-images.githubusercontent.com/5887929/91070308-dc7ca480-e636-11ea-8ade-5aed1922c342.png)

[2020-08-24 16:23] #51 closed

[2020-08-25 12:48] yangwao commented on #99
@developerfred any updates on this? Do you need any help? Feel free to reach me out https://t.me/yangwao

[2020-09-01 13:40] vikiival opened #127 "Ability to add external accounts via QR"
Having compatibility with [Parity Signer](https://www.parity.io/signer/) adds huge UX improvement for users.

[Easiest lib for reading QR](https://github.com/gruhn/vue-qrcode-reader)

whole impl

[code]

[2020-09-07 14:40] #7 closed

[2020-09-17 09:23] Web3Foundation commented on #99
@yangwao it has been almost a month since @developerfred was active. Would you like him to stop work and keep the issue open for other workers?

[2020-10-23 11:18] vikiival opened #140 "Testing"
Through using KodaDot some users were facing issues

- [x] formatBalance is incorrect (ref #63 , #109) (@yangwao can check)
- [x] unable to nominate validators
- [x] When I click on staking, I see the attached screen under overview
![staking-screen](https://user-images.githubusercontent.com/22471030/96997249-b5a4f680-1531-11eb-82e4-4c8c2236a6ef.png)

[2020-10-23 11:24] vikiival commented on #140
Staking on `KSM`
![localhost_9090_ (7)](https://user-images.githubusercontent.com/22471030/96997975-0cf79680-1533-11eb-9862-c946e9f59cbc.png)

[2020-11-05 17:11] vikiival commented on #109
fixed by f1b20c804fac50ecf4af46edbd8cdd2bb1bbdc9c

[2020-11-05 17:12] #109 closed

[2020-11-06 15:29] yangwao commented on #99
Hello @Web3Foundation yes please stop his work and assign @unknow112 it's PR does the job! I can also accepted it as successful work!
https://github.com/vue-polkadot/apps/pull/142

[2020-11-10 13:11] Web3Foundation commented on #99
@unknow112 please make a work submission on Gitcoin and we can make the payout.

https://gitcoin.co/issue/vue-polkadot/apps/99/4510

[2020-11-11 14:27] yangwao commented on #99
@Web3Foundation just merged! https://github.com/vue-polkadot/apps/pull/142

Thank you!

[2020-11-11 14:27] #99 closed

[2020-11-14 16:42] unknow112 commented on #99
@Web3Foundation i didnt submit work yet, as the price for transaction is higher than the bounty
![2020-11-14 17_37_36-MetaMask Notification](https://user-images.githubusercontent.com/20564765/99152186-869d2300-26a0-11eb-8b64-0837f5bf49b4.png)

[2020-11-15 18:02] vikiival commented on #67
Closed by f1b20c804fac50ecf4af46edbd8cdd2bb1bbdc9c

[2020-11-15 18:02] #67 closed

[2020-11-25 09:35] yangwao opened #144 "Create docker image for master branch"
Rn we have just docker image for develop branch

[2020-11-25 09:43] yangwao commented on #144
don https://hub.docker.com/r/yangwao/kodadot/tags?page=1&ordering=last_updated

[2020-11-25 09:43] #144 closed

[2020-11-25 11:07] yangwao opened #145 "Show on-chain bonding duration"
When you choosing on the particular chain you can see the on-chain bonding duration

![image](https://user-images.githubusercontent.com/5887929/100219768-b0fba580-2f16-11eb-967f-6e54c3a55b3e.png)

[2020-11-25 11:12] yangwao opened #146 "Filter nominators by address"
![image](https://user-images.githubusercontent.com/5887929/100220149-3aab7300-2f17-11eb-857e-d3278e668dbe.png)

origin implementation in Apps
![image](https://user-images.githubusercontent.com/5887929/100220182-439c4480-2f17-11eb-8497-fb4f4b86ec91.png)

[2020-12-21 18:11] yangwao commented on #100
- I made writeup on our story till here https://medium.com/kodadot/kodadot-nft-explorer-f2c3a326a856
- https://twitter.com/KodaDot/status/1337071031446540288
- https://twitter.com/KodaDot/status/1336655029982392320
- Working AR demo with RMR.app on Kusama https://twitter.com/KodaDot/status/1334902453440024578
- RMRK reader https://twitter.com/KodaDot/status/1331657696508932097
- Substrapunks inter

[2021-01-07 14:17] iSalmankhanZ opened #149 "Issue in executing transaction operations on default account."
I am trying to transfer some units from  ALICE to BOB on local network but could not find password for ALICE or any of the pre configured accounts in documentation, also tried with empty password and getting the error as shown in the attached image
![polks bmp](https://user-images.githubusercontent.com/32505719/103902840-17343480-5121-11eb-8b2d-72ae47d4b405.png)

kindly request you to help by prov

[2021-01-08 07:57] vikiival commented on #149
Hello @iSalmankhanZ,

thanks for the issue!

Please make sure that you are connected to your localhost and running a substrate node on your device.
Also please set `Show  development accounts  && refresh` as you can see in image below. Then you have to reload the app (Ctrl/Cmd + R )

<img width="1920" alt="Screen Shot 2021-01-08 at 08 46 37" src="https://user-images.githubusercontent.com/22471030/

[2021-01-08 10:16] iSalmankhanZ commented on #149
Hi @vikiival thanks for the guidance it works for us.
although it works we have noticed one key difference is that it works only with [polkadot ](https://github.com/paritytech/polkadot/releases/download/v0.8.26-1/polkadot)

However when we tried with [substrate-node-template](https://github.com/substrate-developer-hub/substrate-node-template) the same didn't work.
could you please guide us if ther

[2021-01-13 14:28] yangwao opened #151 "Pickup image from clipboard while creating RMRK NFT"
Now you need to have that file somewhere on filesystem which could be annoying, thus minting directly from the clipboard could be nice UX
![image](https://user-images.githubusercontent.com/5887929/104464983-d66e6c80-55b3-11eb-9d46-e8f574149197.png)

[2021-01-17 16:26] vikiival commented on #140
Closed in M3 milestone

[2021-01-17 16:26] #140 closed

[2021-01-17 16:26] vikiival opened #152 "Creadt"

[2021-01-17 16:28] vikiival opened #153 "Improve UI/UX for Kodadot dashboard"

[2021-01-17 16:32] vikiival opened #154 "Move repository to Kodadot"
currently we are using github.com/vue-polkadot
I would like to have all packages under github.com/kodadot

[2021-01-18 13:29] vikiival opened #155 "Move NFT module into separated project."
Create project KodaNFT

[2021-01-18 15:17] vikiival commented on #155
- [ ] Observe [NuxtJS](http://nuxtjs.org)
- [ ] Check if Nuxt is compatible with [TypeScript](http://typescript.nuxtjs.org)
- [ ] Inspect [Nuxt-Buefy package](https://github.com/buefy/nuxt-buefy)
- [ ] Try [A-Frame](http://aframe.io)
- [ ] Make workaround for socket connection

[2021-01-18 15:22] vikiival commented on #155
[Using A-Frame with Nuxt](https://github.com/nuxt/nuxt.js/issues/30)

[2021-01-18 15:26] yangwao commented on #155
Seems the upcoming hacking session will be heavy, should I order a KFC bucket?
![image](https://user-images.githubusercontent.com/5887929/104934038-f3d37a00-59a9-11eb-8bdb-f9834b2f60bd.png)

[2021-01-19 09:04] vikiival commented on #155
Sure and please add garlic sauce and replace 🍟 with 🌽

[2021-01-22 11:08] yangwao opened #156 "Add contributors tables to the Readme.me"
- show contributors graph in the readme?
- we are looking to have testimonials as a project
- act more community-first

[2021-01-23 19:57] yangwao opened #157 "Detail on NFT is broken on ipad"
![image](https://user-images.githubusercontent.com/5887929/105612591-81093b00-5dbd-11eb-81b4-9e2378fd46b8.png)

[2021-01-23 20:07] yangwao opened #158 "Dark mode for KodaDot"
Ok, it was about time to come. Looking forward have toggle to do that and make invert for user.

* https://github.com/buefy/buefy/issues/1861
* Using https://jenil.github.io/bulmaswatch/ ?
* https://github.com/jloh/bulma-prefers-dark

[2021-01-26 11:10] vikiival opened #160 "Analytics for RMRK::NFT"
[NFTBank](https://nftbank.ai)

[2021-01-27 08:34] vikiival commented on #158
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2021-01-27 10:54] yangwao opened #161 "Fiat on-ramp for RMRK in KodaDot"
As [Ramp.network]() has support for DOT, they will have also for KSM
* https://kusama.polkassembly.io/motion/249
* https://ramp.network/buy/?swapAsset=KSM
* https://docs.ramp.network/sdk-reference/

This will add a huge surplus into onboarding new users to RMRK.

[2021-01-27 13:27] yangwao opened #162 "Implement Smart lock like signing with web3 (extension)"
As Google stated,
* 50% of all new users signed up with the hint selector dialogue
* 95% of users have saved their credentials to Smart Lock for a seamless return next time
* 85% drop in failures for web sign in
* 60% decrease in time spent signing in to website
https://developers.google.com/identity/smartlock-passwords/case-studies

Would be nice to come up with some flow where the user is signed

[2021-01-27 15:26] vikiival commented on #153
![localhost_9090_ (30)](https://user-images.githubusercontent.com/22471030/106012938-3e48ab00-60bc-11eb-95e1-5f833e9b9ffb.png)

Introduce global account -> select account from dropdown placed in navbar
add one more fixed navbar to bottom -> actions

[2021-01-29 15:15] #161 closed

[2021-02-01 11:29] yangwao commented on #157
with navbar little better, but still not perfect!

[2021-02-01 11:30] yangwao commented on #155
Done https://github.com/kodadot/nft-gallery and redeployed from `rmrk-lite` branch

[2021-02-01 11:31] yangwao commented on #154
NFT part is moved already there https://github.com/kodadot/nft-gallery
Components which we will be using could stay here as it's *vue-polkadot* components, or we can move this as well.

[2021-02-01 11:31] #155 closed

[2021-02-01 11:32] vikiival commented on #154
I think that other components could stay here.

[2021-02-01 11:32] #154 closed

[2021-03-07 13:27] yangwao commented on #158
Closing in favour https://github.com/kodadot/nft-gallery/issues/152

[2021-03-07 13:27] #158 closed